{% embed 'partials/base.html.twig' %}

    {% block content %}
    <div class="content">
        <div class="w-container">
            <div class="post-title-section">
                <h1 class="blog-title">{{ page.title }}</h1>
                {% if page.header.subtitle %}
                <h6>{{ page.header.subtitle }}</h6>
                {% endif %}
                <div class="post-info-wrapper">
                    <div class="post-info">{{ page.modified|date(config.system.pages.dateformat.short)}}</div>
                </div>
            </div>
            <div class="w-richtext body-copy">
                {{ page.content }}
            </div>
            <div class="button-wrapper">
            <a href="./" class="w-button button">â†&nbsp;View all posts</a>
            </div>
        </div>
    </div>
    {% endblock %}

{% endembed %}
